<% if @registration_error %>

    <div class="alert-warning"> Something went wrong! Please check that email and password have been entered correctly, and try again. </div>

  <% end %>

  <div class="form-group">
    <form role="form" method='post' action='/users/login'>

      <label name="email">Email:</label>
      <input class="form-control" type="text" name="user[email]" placeholder="you@example.com">
      <br>
      <label name="password">Password:</label>
      <input class="form-control" type="password" name="user[password]" placeholder="*******"><br>

      <input class="btn btn-success" type="submit" value="Get dressed!">

    </form>
  </div>
