<div class="container">
  <h1 class="panel-heading"> About us <small> Who are we, and why did we do this?</small></h1>

  <p class="text-left"> Dress Me, Please! is the brainchild of Lucy Boone, Kyle Dolezal, Cora Hays-Magan, and Eileen McFarland, four Dev Bootcamp Chicago students. Inspired
    by an instructor's frustration with the combination of early mornings, changing seasons, and Chicago's inability to stick to one temperature, we decided
    to tackle the challenge of what to wear every morning. Thus, Dress Me was created: tell us your personal thresholds, and we'll tell you what to wear, without
    judgement, and with pictures of cats and funny quotes.</p>
</div>
