
  <div class="jumbotron">
    <p><%= format_date(Time.now) %></p>
    <p><%= format_time(Time.now) %></p>
  </div> 
  <p class="yoda"><%= @quirk.quote %></p>
    <h3 class="panel-heading">"Casey, What should I wear today?"</h3>
  <div>
    <p class="panel">Here's today's weather:</p>
    <div class="well">
      <p>Here's what to wear today:</p>
      <%@array.each do |c| %>
        <p><%=c %></p>
      <% end %>
    </div>

<img class="img-circle" class=".img-responsive"  src="https://lh3.googleusercontent.com/-ClS1Fvb6bKM/Vj0U8hXleZI/AAAAAAAAAbE/Zyxl77fypjc/w700-h1238-no/gatesdoor.jpg">
